section.section-questions
  .section-questions--content
    p.intro
      | 828，重啟核四即將公投，但你真的了解核四嗎？
      | 快來完成下面這個小測驗，
      | 看看核四是否跟你想像中的一樣！

    h1 #{greeting}

    div.splide.question-slider
      div.splide__track
        ul.splide__list
          each item, i in questions
            li.splide__slide
              div.question.card.question-box(data-answer=`a${item.answer}`)
                p Q#{i + 1}.#{item.question}
                div.option-list
                  each option, j in item.options
                    label.button(for=`q${i}-a${j}`) #{option}
                      input(type="radio", name=`q${i}`, id=`q${i}-a${j}`, value=`a${j}`)

            li.splide__slide
              div.card.answer-detail
                p.button #{item.options[item.answer]}
                p #{item.detail}
                <button>下一題</button>
