each item in knowledges
  div.modal.modal-slide(aria-hidden="true", id=`${item.modalId}`)
    div.modal__overlay(tabindex="-1" data-micromodal-close)
    div.modal__container(role="dialog" aria-modal="true" aria-labelledby=`${item.id}`)
      header
        h1.hidden(id=`${item.id}`) #{item.heading}
        button.button-close.modal__close(aria-label="關閉" data-micromodal-close)
          img(src="../images/icon_close.svg", width="28", height="27", alt="")

        - html = pugjs.render(item.article)
        div !{ html }
